body {
    background-color: #FDFDFD;
}

h1
{
	font: 115px/1.0em "amaticbold", sans-serif;
	color:#FF7373;
	text-align: center;
}
h2{
	font: 25px "segoe ui", sans-serif;
	letter-spacing: .15em;
	font-weight: bold;
}
.home
{
	width: 100%;
	color: #444;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* Safari and Chrome */
	-moz-background-sigit sze: cover; /* Firefox */
	-o-background-size: cover; /* Internet Explorer */
	background-size: cover; /* CSS3 */
}



/* -----MAIN MENU------*/

nav{
   background-color:#00B0E0;
}

nav ul{
	list-style: none;
	text-align: center;
	padding:0;
	margin:0;
  height: 50px;
  background-color:#00B0E0;
}

nav li{
/*	display: inline-block;*/
	font: 1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 50px;
	text-transform: uppercase;
    border-bottom: 1px solid white;
}

nav a
{
	display: block;
	text-decoration: none;
	color: white; 
  transition: .3s background-color;
}

nav ul li a:hover
{
  background-color: #fffeb3;
	color: #FF7373;
}

nav ul li.active a
{
  background-color:white;
  color: #FF7373;
}

@media screen and (min-width: 725px) {
  nav li {
    width: 145px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size:1.1em;
  }
    nav li {
    display: inline-block;
    margin-right: -4px;
  }

}
/*---Background Dark--*/
/*.containerdark{
  background: url(../images/greywood.jpg) ;
  border-bottom: #dddddd solid 1px;
  padding: .5em;
}*/


/*.blog-index article:nth-child(even) h2*/

section:nth-child(odd){
  background: url(../images/greywood.jpg) ;
  border-bottom: #dddddd solid 1px;
  padding: .5em;
}

section:nth-child(even){
  background-color: #AFEEEE;
  border-bottom: #dddddd solid 1px;
  padding: .01em 1em 1em;
}
/* BACKSTORY ------*/
.backstory
{
	width: 80%;
	min-width:709;
	min-height: 375px;
	background-position: center; 
	-webkit-background-size: contain; /* Safari and Chrome */
	-moz-background-size: contain; /* Firefox */
	-ms-background-size: contain; /* Internet Explorer */
	-o-background-size: contain; /* Opera */
	background-size: contain; /* CSS3 */ 
}
/* ----CHECKLIST----*/
ul.check_list
{
	margin-left: 30px;
}
.check_list
{
	font: 18px/1.94em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.02em;
}
.check_list li
{
	padding-left: 40px;
	background: transparent url("../images/Heart_Checkbox_25px.png") scroll 0 8px no-repeat;
}