body {
    background-color: #FDFDFD;
}

h1
{
	font: 115px/1.0em "amaticbold", sans-serif;
	color:#FF7373;
	text-align: center;
}
h2{
	font: 25px "segoe ui", sans-serif;
	letter-spacing: .15em;
	font-weight: bold;
}
.home
{
	width: 100%;
	color: #444;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* Safari and Chrome */
	-moz-background-size: cover; /* Firefox */
	-o-background-size: cover; /* Internet Explorer */
	background-size: cover; /* CSS3 */
}



/* -----MAIN MENU------*/

nav ul{
	list-style: none;
	text-align: center;
	padding:0;
	margin:0;
  background-color:#00B0E0;
  height: 50px;
}

nav li{
	display: inline-block;
	font: 1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 50px;
	text-transform: uppercase;
}




nav ul li a
{
	display: block;
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
	color: white; 

}


nav ul li.first a
{
	padding-left: 0px;
}
nav ul li.last a
{
	padding-right: 0px;
}


nav ul li a:hover
{
	color: #FF7373;
}
nav ul li.active a
{
	color: #fffeb3;
}
/*---Background Dark--*/
/*.containerdark{
  background: url(../images/greywood.jpg) ;
  border-bottom: #dddddd solid 1px;
  padding: .5em;
}*/


/*.blog-index article:nth-child(even) h2*/

section:nth-child(odd){
  background: url(../images/greywood.jpg) ;
  border-bottom: #dddddd solid 1px;
  padding: .5em;
}

section:nth-child(even){
  background-color: #AFEEEE;
  border-bottom: #dddddd solid 1px;
  padding: .01em 1em 1em;
}
/* BACKSTORY ------*/
.backstory
{
	width: 80%;
	min-width:709;
	min-height: 375px;
	background-position: center; 
	-webkit-background-size: contain; /* Safari and Chrome */
	-moz-background-size: contain; /* Firefox */
	-ms-background-size: contain; /* Internet Explorer */
	-o-background-size: contain; /* Opera */
	background-size: contain; /* CSS3 */ 
}
/* ----CHECKLIST----*/
ul.check_list
{
	margin-left: 30px;
}
.check_list
{
	font: 18px/1.94em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.02em;
}
.check_list li
{
	padding-left: 40px;
	background: transparent url("../images/Heart_Checkbox_25px.png") scroll 0 8px no-repeat;
}